$coral: #f87070;
$skybue: #70f3f8;
$periwinkle: #d881f8;
$grey: #d7e0ff;
$navy: #1e213f;
$white: #ffffff;
$light-grey: #eff1fa;
$dark-navy: #161932;

.modal {
  position: absolute;
  width: calc(100% - 3rem);
  padding: 1.5rem;
  top: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100% - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    width: 100%;
    max-width: 540px;
  }
}




@media (max-width: 576px) {
  .modal {
    position: absolute;
    width: calc(100% - 3rem);
    padding: 1.5rem;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100% + 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .modal-content {
      width: 100%;
      max-width: 540px;
    }
  }
  

}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (larger desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}